* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.4;
  width: 100%;
  margin: 0;
  padding: 0;
  /* overflow: scroll; */
}

/* Navbar */

nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	padding: 0 5%;
	height: 100px;
	background-color: #282828;
}
#logo {
	display: flex;
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	font-size: 1.5em;
	font-weight: bolder;
	color: greenyellow;
	letter-spacing: 0.15em;
	padding-top: .1em;
    margin-top: 1.25em;
    font-weight: 1000;
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: .2em;
	font-size: 20px;
	font-weight: bolder;
	color: #fff;
	text-decoration: none;
}
nav .links a:hover,
	nav .links a:focus{
		transform: scale(1.09);
		border: .2em solid aqua;
		  color: aqua;
	}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}

/*  Header 1 */
.container {
  max-width: 960px;
  margin: auto;
  overflow: auto;
  padding: 0 3rem;
}
.bg {
	background:rgba(212, 212, 212, 0.349);
  color: #fff;
  height: 100vh;
  position: relative;
  display: flex;
}
.bg .bg-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 70px;
	text-align: center;
	height: 100%;
}
.bg-inner h2{
	color: rgb(233, 44, 44);
	margin-top:2.5em;
	margin-bottom:1em;
	padding: .5em;
	font-weight: bold;
	/* text-transform: uppercase; */
	/* background-color: rgba(255, 255, 255, 0.431); */
	letter-spacing: .1em;
	box-shadow:0 10px 20px rgb(0 0 0 / 50%);
	border: .1em solid aqua;
		  /* color: aqua; */
}

.bg-inner h3{
	color: black;
	margin-top:2em;
	margin-bottom:3em ;
	padding: .5em;
	background-color: rgba(245, 243, 125, 0.664);
	letter-spacing: .1em;
	box-shadow:0 10px 20px rgb(0 0 0 / 50%);
	/* border: .2em solid rgb(255, 0, 0); */

}
.bg:before {
	content: "";
	background: url("../photos/bg.jpg") no-repeat center center/cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

/* Header 2 */
/* Background image */
.showcase {
  background:rgba(212, 212, 212, 0.308);
  color: #fff;
  height: 100vh;
  position: relative;
  padding-top: 1em;
}

.showcase:before {
  content: "";
  background: url("../photos/children.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  text-align: center;
  height: 100%;
}


/* Paragraph */
.showcase-inner p{
	color: blue;
	margin-top: 1em;
	padding: 0.25em;
	font-size: x-large;
	font-weight: 600;
	background-color: rgba(221, 221, 215, 0.411);
	box-shadow:0 10px 20px rgb(0 0 0 / 50%);
	border: .1em solid red;

	letter-spacing: .05em;
}
/* button */
.btn {
	display: inline-block;
	border: none;
	background: white;
	color: black;
	padding: .5em .5em;
	margin-top: 2em;
	margin-bottom: 2em;
	transition: opacity 1s ease-in-out;
	text-decoration: none;
	font-size: 1.5em;
	letter-spacing: 2px;
	/* border: 2px solid black; */
	box-shadow:0 10px 20px rgb(0 0 0 / 100%);
	border: .05em solid black;

}

.btn:hover {
  opacity: 0.7;
  background-color: rgba(0, 247, 255, 0.74);
  transform: scale(1.1);
}

/* Footer */

footer {
	color: white;
	background-color: #282828;
	text-align: center;
	height: 5em;
   padding: 1.2em;
  }
  footer h4 {
	font-size: large;
	font-size: 20px;
  }
  footer img {
	height: 22px;
	width: 22px;
  }

  /* Media queries */
@media screen and (max-width: 768px) {
	nav #logo {
		float: none;
		width: auto;
		justify-content: center;
        margin-top: 1.3em;
        margin-right: 1em;
		font-weight: bold;
		color: greenyellow;
		letter-spacing: 0.2em;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgb(128, 128, 128);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav .links a:hover,
	nav .links a:focus{
		transform: scale(1.5);
		border: .2em solid aqua;
		  color: aqua;
	}

	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	.info .column{
		margin-top: .9em;
	}
	.bg-inner h2{
		margin-top: 2em;
		margin-bottom: .5em;
		padding: .1em;
	}
	.bg-inner h3{
		margin-top: .1em;
		margin-bottom: .5em;
	}
	.showcase-inner p{
		margin-top: -1.5em;
		margin-bottom: .3em;
	}
	.btn{
		margin-top: .7em;
		margin-bottom: 2em;
	}
}
@media screen and (min-width: 768px){
	.info .column{
		margin-top: 6em;
	}
}
